{%extends 'base.html'%}

{%block content%}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container" style="width: 50%;">
        <!--
        <div class="mb-3">
            <label for="nickname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Please enter a nickname">
        </div>
        -->
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <input type="text" class="form-control" id="message" name="message" placeholder="Please enter your message">
        </div>
        <button style="width: 100%; margin-top: 30px;" type="submit" class="btn btn-primary btn-lg btn-block">Send Tweet</button>
    </div>
</form>

{%endblock%}